* {
    margin: 10px;
}

body {
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

.ubuntufont {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #b4ad9e;
}

.size {
    font-size: 30px;
    line-height: 36px;
}

.buttonsize {
    font-size: 20px;
    line-height: 24px;
}

.main-menu .main-menu-item {
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

.pictures-list li {
    list-style: none;

}

