* {
    margin: 5px;
}

body {
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #626262;
}

.main-menu a {
    text-decoration: none;
}

.main-menu a:hover {
    color: rgb(255, 0, 0);
}

.site-navigation li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    
}

.ubuntufont {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #b4ad9e;
}

.size {
    font-size: 30px;
    line-height: 36px;
}

.buttonsize {
    font-size: 20px;
    line-height: 24px;
}

.pictures-list li {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
